@model List<Guest>
@{
    ViewData["Title"] = "GuestBook";
}
<h1>@ViewData["Title"]</h1>

<h2>Guest List</h2>
<ul>
    @foreach (var guest in Model)
    {
        @if (!string.IsNullOrEmpty(guest.Name) && !string.IsNullOrEmpty(guest.Message))
        {
            <li>
                <strong>@guest.Name:</strong> @guest.Message
            </li>
        }
    }
</ul>


<h2>Add a New Guest</h2>
<form asp-action="AddGuest" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

