@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-dark text-light py-5">
    <div class="container">
        <h1 class="display-4">Willkommen im Gästebuch</h1>
        <p class="lead">Hinterlasse gerne eine Nachricht!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Schreiben Sie eine Nachricht</a>
    </div>
</div>