@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-gray text-dark py-5">
    <div class="container">
        <h1 class="display-4">Willkommen im Gästebuch</h1>
        <p class="lead">Hinterlasse gerne eine Nachricht!</p>
    </div>
</div>